* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.py {
    padding: 70px 0;
}

.w-1 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 75%;
}

.w-33 {
    width: 33.33%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.text-align {
    text-align: center;
}



/* topbar */

.topbar {
    background-color: #f4f4f4;
    padding: 12px;
    font-size: 14px;
}

i {
    padding: 0 10px;
}

.social i {
    color: #00aeef;
}

#facebook:hover {
    color: #00aeef
}

#twitter:hover {
    color: #00aeef
}

#google:hover {
    color: #00aeef
}

#linkedin:hover {
    color: #00aeef
}

#pinterest:hover {
    color: #00aeef
}


/* header */

header {
    width: 100%;
    background-color: #fffdfd;
    padding: 20px 0;
    position: absolute;
    z-index: 99;
    position: sticky;
    top: 0;
}

.menu ul li a {
    padding: 34px 13px;
    color: black;
    font-weight: 900;
}

.dropdown-menu {
    background-color: rgb(239, 241, 244);
    width: 165px;
    position: absolute;
    top: 51px;
    line-height: 35px;
    display: none;
    padding: 5px;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* subdropdown */

.subdropdown {
    position: relative;
}

.subdropdown-menu {
    background-color: rgb(239, 241, 244);
    width: 215px;
    position: absolute;
    top: 0;
    left: 155px;
    line-height: 35px;
    display: none;
    padding: 5px;
}

.subdropdown:hover .subdropdown-menu {
    display: flex;
}

.secondsub {
    position: relative;
}

.secondsub-menu {
    background-color: rgb(239, 241, 244);
    width: 190px;
    position: absolute;
    top: 0;
    left: 190px;
    line-height: 35px;
    display: none;
    padding: 5px;
}

.secondsub:hover .secondsub-menu {
    display: block;
}

.btn a {
    padding: 10px 20px;
    color: aliceblue;
    background-color: #00aeef;
    border-radius: 5px;
    border: 2px solid transparent;
}

.btn a:hover {
    background-color: transparent;
    border: 2px solid #00aeef;
    color: #00aeef;
}


/* banner */

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../images/x2.jpg.pagespeed.ic.KB_IgdnV5d.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    z-index: 9;
    background-attachment: fixed;
}

.banner::after {
    content: '';
    width: 100%;
    height: 100vh;
    background: linear-gradient(#2c455d9e,#00012c9c);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner h1 {
    width: 920px;
    font-size: 55px;
    font-weight: 900;
}

.banner-content {
    display: flex;
    height: 100%;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content p {
    width: 800px;
    padding: 25px 0 35px 0;
    text-align: center;
}

.banner-btn a {
    margin: 0 10px;
}

.banner-btn a:last-child {
    background-color: transparent;
    color: #00aeef;
    border: 2px solid #00aeef;
}


/* about */

h2 {
    font-size: 40px;
    position: relative;
}

div h2:after {
    content: '';
    width: 80px;
    height: 5px;
    background-color: #00aeef;
    top: 60px;
    left: 0;
    position: absolute;
}

.about-content {
    padding: 50px 0 20px 0;
    color: #707070;
    font-size: 17px;
    line-height: 40px;
    font-weight: 400;
}

.about-progress {
    padding: 30px 0;
}

.about-progress-line {
    width: 100%;
    height: 10px;
    background-color: #f4f4f4;
    position: relative;
    top: -15px;
    left: 0;
}

.about-progress-line::after {
    content: '';
    width: 80%;
    height: 10px;
    background-color: #00aeef;
    top: 0;
    left: 0;
    position: absolute;
}

.about-progress-line-line {
    width: 100%;
    height: 10px;
    background-color: #f4f4f4;
    position: relative;
    top: -15px;
    left: 0;
}

.about-progress-line-line::after {
    content: '';
    width: 65%;
    height: 10px;
    background-color: #00aeef;
    top: 0;
    left: 0;
    position: absolute;
}

.about-progress-line-line-2 {
    width: 100%;
    height: 10px;
    background-color: #f4f4f4;
    position: relative;
    top: -15px;
    left: 0;
}

.about-progress-line-line-2::after {
    content: '';
    width: 85%;
    height: 10px;
    background-color: #00aeef;
    top: 0;
    left: 0;
    position: absolute;
}


/* count */

.count-line {
    border-top: 1px solid #707070;
    padding: 50px 0;
}

.count i {
    font-size: 70px;
    color: #00aeef;
}

.count h4 {
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0 7px 0;
}

.count p {
    color: #707070;
    font-weight: 700;
}



/* services */
.services {
    width: 100%;
    height: auto;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    z-index: 9;
    background-attachment: fixed;
}

.services::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#2c455d9e,#00012c9c);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
h2 {
    font-size: 40px;
    position: relative;
}

div h2:after {
    content: '';
    width: 80px;
    height: 5px;
    background-color: #00aeef;
    top: 60px;
    left: 0;
    position: absolute;
}
.services-content{
    margin-top: 50px;
}
.services-item{
    margin:20px 80px 30px 0;
}
.services-item img{
    width:35px;
}
.services-item h5{
    line-height: 30px;
}

.service-btn{
    position: relative;
}
.service-btn .video-btn {
    position: absolute;
    color: #00aeef;
    background-color:white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top:-30px;
    line-height:60px;
    text-align: center;
    font-size: 60px;
    transition: 1.2s all;
}
.video-btn i{
    padding: 0;
}
.service-btn .video-btn:hover{
    color:black;
}

/* pricing */
h3 {
    font-size: 40px;
    position: relative;
    width:100%;
}

div h3:after {
    content: '';
    width: 80px;
    height: 5px;
    background-color: #00aeef;
    top: 60px;
    left: 517px;
    position: absolute;
}
table{
    width: 100%;
    margin-top: 50px;
    text-align: left;
}
tr{
    height: 40px;
}
th{
    background-color:#00aeef;
    color:white;
    padding-left:10px;
}
td{
    padding-left: 10px;
    background-color:#f4f4f4 ;
}
.read-btn{
    margin: 30px;
    width:100%;
}
/* apponiment */

.appointment-bgimage{
    width: 100%;
    height: 600px;
    background-image: url(../images/x12.jpg.pagespeed.ic.xxtlPIASfi.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    z-index: 9;
    background-attachment: fixed;
}

.appointment-bgimage::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#2c455d9e,#00012c9c);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
h3 {
    font-size: 40px;
    position: relative;
}

div h3:after {
    content: '';
    width: 80px;
    height: 5px;
    background-color: #00aeef;
    top: 60px;
    left: 517px;
    position: absolute;
}
.appointment-content{
    margin: 40px;
}
.appointment-text-right{
    margin: 0 10px 20px 0;
}
.appointment-text-left{
    margin: 0 0 20px 10px;
}

input{
    width: 100%;
    height: 40px;
    outline: none;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
    border:none;
    padding-left:15px ;
    font-style: italic;
}
select{
    width: 100%;
    height: 40px;
    outline: none;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
    border:none;
    padding-left:15px ;
    appearance: none;
    color: white;
    font-style: italic;
}
textarea{
    width: 100%;
    height:100%;
    border: none;
    outline:none;
    background-color: rgba(0,0,0,.3);
    padding: 15px;
    font-style: italic;
}
.appointment-textarea{
    width: 100%;
}

/* dentist */
.doc-img img{
    width: 90%;
    background-color: #f4f4f4;
}

/* dentisy detail  */
.banner {
    width: 100%;
    height: 350px;
    background-image: url(../images/x7.jpg.pagespeed.ic.WWYqzyT8wB.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    z-index: 9;
    background-attachment: fixed;
}

.banner::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#2c455d9e,#00012c9c);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.doc-image img{
    border-radius: 50%;
}
.doctor-content{
    margin: 83px 0;
}
.doctor-detail h5{
    margin: 15px 0 10px 0;
    font-size:18px;

}
.doctor-detail h4{
    line-height: 30px;
    font-size:18px;
    font-style: italic;
    font-weight:400;
}
/* news */

.news{
    box-shadow: 0 0 33px -20px black;
    margin-top: 100px;
}
.news-content{
    padding:20px;
}
.news-content h5{
    font-size:25px;
    font-weight:900;
}
.news-content p{
    font-size: 20px;
    padding: 10px 0;
    line-height: 30px;
}
.news-content span:hover{
    color:#00aeef;
}
.news-content span i{
    color:#00aeef;
}
.margin{
    width: 100%;
    margin: 100px 20px 0 20px;
}